<!--
=========================================================
* Argon Dashboard - v1.2.0
=========================================================
* Product Page: https://www.creative-tim.com/product/argon-dashboard


* Copyright  Creative Tim (http://www.creative-tim.com)
* Coded by www.creative-tim.com



=========================================================
* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Real-time Haryana Covid-19 Stats. Developed by Abhishek Sheoran. ">
    <meta name="author" content="Abhishek Sheoran">
    <title>Haryana Fights Covid</title>
    <!-- Favicon -->
    <link rel="icon" href="assets/img/brand/favicon.png" type="image/png">
    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <!-- Icons -->
    <link rel="stylesheet" href="assets/vendor/nucleo/css/nucleo.css" type="text/css">
    <link rel="stylesheet" href="assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
    <!-- Page plugins -->
    <!-- Argon CSS -->
    <link rel="stylesheet" href="assets/css/argon.css?v=1.2.0" type="text/css">
</head>

<body>
    <!-- Sidenav -->
    <nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-neutral" id="sidenav-main">
        <div class="scrollbar-inner">
            <!-- Brand -->
            <div class="sidenav-header  align-items-center">
                <a class="navbar-brand" href="javascript:void(0)">
                    <img src="assets/img/brand/blue.png" class="navbar-brand-img mt-3 " alt="...">
                </a>
            </div>
            <div class="navbar-inner">
                <!-- Collapse -->
                <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                    <!-- Nav items -->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" href="/">
                                <i class="ni ni-tv-2 text-primary"></i>
                                <span class="nav-link-text">Dashboard</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/district">
                                <i class="ni ni-planet text-orange"></i>
                                <span class="nav-link-text">District-Wise Table</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="examples/register.html" data-toggle="modal"
                                data-target="#modal-about">
                                <i class="ni ni-circle-08 text-yellow"></i>
                                <span class="nav-link-text">About Me</span>
                            </a>
                        </li>
                    </ul>
                    <!-- Divider -->
                    <hr class="my-3">
                    <!-- Heading -->
                    <h6 class="navbar-heading p-0 text-muted">
                        <span class="docs-normal">Important Websites</span>
                    </h6>
                    <!-- Navigation -->
                    <ul class="navbar-nav mb-md-3">
                        <li class="nav-item">
                            <a class="nav-link" href="http://haryanahealth.nic.in/" target="_blank">
                                <i class="ni ni-spaceship"></i>
                                <span class="nav-link-text">Haryana Govt. Official Website</span>
                            </a>
                        </li>
                        <li class="nav-item bg-light">
                            <a class="nav-link" href="https://haryana.gov.in/helpline/index.html" target="_blank">
                                <i class="ni ni-palette"></i>
                                <span class="nav-link-text text-dark ">Helpline Numbers</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.mygov.in/covid-19/" target="_blank">
                                <i class="ni ni-ui-04"></i>
                                <span class="nav-link-text">Govt. Of India Official Website</span>
                            </a>
                        </li>
                        <li class="nav-item mt-5 active py-5">


                            <div class="counter ml-4">
                                <h5>You are visitor number </h3>
                                    <!-- hitwebcounter Code START -->
                                    <a href="#" target="_blank">
                                        <img src="https://hitwebcounter.com/counter/counter.php?page=7351158&style=0006&nbdigits=5&type=ip&initCount=690"
                                            title="Web Counter" Alt="counter free" border="0">
                                    </a>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </nav>




    <!-- Main content -->
    <div class="main-content" id="panel">

        <div class="modal fade" id="modal-about" tabindex="-1" role="dialog" aria-labelledby="modal-about"
            aria-hidden="true">
            <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
                <div class="modal-content text-white bg-purple-gradient">

                    <div class="modal-header">
                        <h6 class="modal-title text-white" id="modal-title-notification">About Me</h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>

                    <div class="modal-body">

                        <div class="py-3">
                            <div class="text-center">
                                <i class="ni ni-single-02 ni-3x"></i>
                                <h4 class="heading mt-3 text-white">Hey!</h4>
                            </div>
                            <p class="text-left text-white">
                                <b>This website has been developed by Abhishek Sheoran. I am a sophomore , pursuing
                                    Computer Science & Engineering at Thapar Institute of Engineering & Technology,
                                    Patiala ,Punjab.
                                </b>
                            </p>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>

        <!-- Topnav -->
        <nav class="navbar navbar-top navbar-expand navbar-dark bg-gradient-primary border-bottom">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Search form -->

                    <!-- Navbar links -->
                    <ul class="navbar-nav align-items-center  ml-md-auto ">
                        <li class="nav-item d-xl-none">
                            <!-- Sidenav toggler -->
                            <div class="pr-3 sidenav-toggler sidenav-toggler-dark" data-action="sidenav-pin"
                                data-target="#sidenav-main">
                                <div class="sidenav-toggler-inner">
                                    <i class="sidenav-toggler-line"></i>
                                    <i class="sidenav-toggler-line"></i>
                                    <i class="sidenav-toggler-line"></i>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header -->
        <!-- Header -->
        <div class="header bg-gradient-primary pb-6">
            <div class="container-fluid">
                <div class="header-body">
                    <div class="row align-items-lg-center py-4">
                        <div class="col-lg-12 col-12">
                            <h6 class="h2 text-white d-inline-block mb-0">HARYANA FIGHTS COVID-19</h6>
                        </div>
                    </div>
                    <div class="row align-items-lg-center py-3">
                        <div class="col text-left ">
                            <a href="/district" class="btn btn-sm btn-danger">Disrict-Wise Table</a>
                        </div>
                        <div class="col text-right ">
                            <a href="http:\\www.saralharyana.gov.in" class="btn btn-sm btn-success">Get Movement
                                e-Pass</a>
                        </div>


                    </div>
                    <div class="row align-items-lg-center py-2">
                        <div class="col-lg-12 col-sm-12 text-center ">
                            <a href="#" class="btn btn-sm btn-white">Last Updated on :
                                <% var city = Data.statewise[15] %>
                                <%= city.lastupdatedtime %> | <%= city.statecode  %>
                            </a>
                        </div>

                    </div>


                    <!-- Card stats -->
                    <div class="row">
                        <div class="col-xl-3 col-md-6">
                            <div class="card card-stats">
                                <!-- Card body -->
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <h5 class="card-title text-uppercase text-muted mb-0">Total Cases In Haryana
                                            </h5>
                                            <span class="h2 font-weight-bold mb-0"><%= city.confirmed  %>
                                            </span>


                                        </div>
                                        <div class="col-auto">
                                            <div
                                                class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                                                <i class="ni ni-active-40"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="mt-3 mb-0 text-sm">
                                        <span class="text-success mr-2"><i class="fa fa-arrow-up"></i>
                                            <%= city.active  %> </span>
                                        <span class="text-nowrap">Currently Active</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="card card-stats">
                                <!-- Card body -->
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <h5 class="card-title text-uppercase text-muted mb-0">Total Deaths in
                                                Haryana</h5>
                                            <span class="h2 font-weight-bold mb-0"><%= city.deaths %>
                                            </span>
                                        </div>
                                        <div class="col-auto">
                                            <div
                                                class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                                                <i class="ni ni-chart-pie-35"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="mt-3 mb-0 text-sm">
                                        <span class="text-success mr-2"><i class="fa fa-arrow-up"></i>
                                            <%= city.recovered  %> </span>
                                        <span class="text-nowrap">Recovered</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="card card-stats">
                                <!-- Card body -->
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <h5 class="card-title text-uppercase text-muted mb-0">Total Cases in India
                                            </h5>
                                            <span
                                                class="h2 font-weight-bold mb-0"><%= Data.cases_time_series[Data.cases_time_series.length - 1].totalconfirmed %>
                                            </span>
                                        </div>
                                        <div class="col-auto">
                                            <div
                                                class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                                                <i class="ni ni-money-coins"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="mt-3 mb-0 text-sm">
                                        <span class="text-danger mr-2"><i class="fa fa-arrow-up"></i>
                                            <%= Data.cases_time_series[Data.cases_time_series.length - 1].totaldeceased %></span>
                                        <span class="text-nowrap">Deaths</span>
                                    </p>
                                    <p class="mt-3 mb-0 text-sm">
                                        <span class="text-success mr-2"><i class="fa fa-arrow-up"></i>
                                            <%= Data.cases_time_series[Data.cases_time_series.length - 1].totalrecovered %></span>
                                        <span class="text-nowrap">Recovered</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="card card-stats">
                                <!-- Card body -->
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <h5 class="card-title text-uppercase text-muted mb-0">New Cases Today
                                                (India)
                                            </h5>
                                            <span
                                                class="h2 font-weight-bold mb-0"><%= Data.cases_time_series[Data.cases_time_series.length - 1].dailyconfirmed %></span>
                                        </div>
                                        <div class="col-auto">
                                            <div
                                                class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
                                                <i class="ni ni-chart-bar-32"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="mt-3 mb-0 text-sm">
                                        <span class="text-danger mr-2"><i
                                                class="fa fa-arrow-up"></i><%= Data.cases_time_series[Data.cases_time_series.length - 1].dailydeceased %></span>
                                        <span class="text-nowrap">Deaths Today</span>
                                    </p>
                                    <p class="mt-3 mb-0 text-sm">
                                        <span class="text-success mr-2"><i
                                                class="fa fa-arrow-up"></i><%= Data.cases_time_series[Data.cases_time_series.length - 1].dailyrecovered %></span>
                                        <span class="text-nowrap">Recovered Today</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page content -->
        <div class="container-fluid mt--6">
            <div class="row">
                <div class="col-xl-8">
                    <div class="card bg-default">
                        <div class="card-header bg-transparent">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h6 class="text-light text-uppercase ls-1 mb-1">Overview</h6>
                                    <h5 class="h3 text-white mb-0">Daily Timeline of India</h5>
                                </div>
                                <div class="col">
                                    <ul class="nav nav-pills justify-content-end" id="indiaxxx"></ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <!-- Chart -->
                            <div class="chart">
                                <!-- Chart wrapper -->
                                <canvas id="chart-sales-dark" class="chart-canvas"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="card">
                        <div class="card-header bg-transparent">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h6 class="text-uppercase text-muted ls-1 mb-1">Most Number of Case</h6>
                                    <h5 class="h3 mb-0">Highest Cases ( District Wise )</h5>
                                    <h6 class="h6" style="color: grey;">Last Updated :
                                        <%=  Data.statewise[14].lastupdatedtime  %> </h6>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <!-- Chart -->
                            <div class="chart">
                                <canvas id="chart-bars" class="chart-canvas"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <!-- Footer -->
                <footer class="footer pt-0">
                    <div class="row align-items-center justify-content-lg-between">
                        <div class="col-lg-12">
                            <div class="copyright text-center  text-lg-left  text-muted">
                                &copy; 2020 <a href="https://www.linkedin.com/in/abhishek-sheoran-248189175/"
                                    class="font-weight-bold ml-1" target="_blank">Developed by
                                    Abhishek Sheoran</a>
                            </div>
                        </div>
                        <div class="col-lg-6">

                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <!-- Argon Scripts -->
        <!-- Core -->
        <script type="text/javascript">
            var info = null;

            var xhr6 = new XMLHttpRequest();
            xhr6.withCredentials = false;

            xhr6.addEventListener("readystatechange", function () {
                if (this.readyState === this.DONE) {
                    var data = JSON.parse(this.responseText);

                    document.getElementById("indiaxxx").innerHTML = `
                        <h4 class="text-white m-3"><b class="mb-3">Total Cases</b> : <b class="bg-info p-1">`+ data.cases + `</b></h4>
                        <h4 class="text-white m-3"><b class="mb-3">Total Deaths</b> : <b class="bg-danger p-1">`+ data.deaths + `</b></h4>
          
                        `;
                }
            });

            xhr6.open("GET", "https://coronavirus-19-api.herokuapp.com/countries/india");
            xhr6.send(info);
        </script>


        <script src="assets/vendor/jquery/dist/jquery.min.js"></script>

        <script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="assets/vendor/js-cookie/js.cookie.js"></script>
        <script src="assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
        <script src="assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
        <!-- Optional JS -->
        <!-- <script src="assets/vendor/chart.js/dist/Chart.min.js"></script>
        <script src="assets/vendor/chart.js/dist/Chart.extension.js"></script> -->
        <!-- Argon JS -->
        <script src="assets/js/argon.js?v=1.2.0"></script>
</body>

</html>